* {
	margin: 0;
	padding: 0;
}
#body {
	height: 100vh;
	background-color: #171821;
}
#wrapper {
	padding: 0px 10%;
}

img {
	width: 1024px;
	height: 100%;
	border-radius: 10px;
	margin-top: 3%;
	box-shadow: 5px 10px 8px #888888;
}
img:hover {
	box-shadow: 5px 10px 8px 10px #ff4800;
}
